.header {
 padding-top: 20px;
}

.wrapper {
display: flex;
align-items: center;
padding: 20px;
  background-color: var(--color-black-light);
border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}

.logoLink {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logoText {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .logoText {
    display: flex;
  font-weight: 700;
font-size: 18px;
line-height: 1;
text-transform: uppercase;
height: 17px;
}
}

.navList {
  display: none;
}

@media only screen and (min-width: 768px) {
.navList {
  display: flex;
  gap: 32px;
}
.navItem {
  position: relative; /* 👈 Це важливо, щоб ::after міряв координати від самого слова */
  font-size: 16px;
  line-height: 1.13;
  color: var(--color-gray);
  transition: color var(--main-transition);
}
}

.navItem:hover,
.navItem:focus,
.navItem:active,
.active {
  color: var(--color-white);
}

.navItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background-color: var(--color-blue);
  border-radius: 8px;
  
  opacity: 0;
  transition: opacity var(--main-transition); 
}

.navItem:hover::after,
.navItem:focus::after,
.navItem:active::after,
.active::after {
  opacity: 1;
}
 
@media only screen and (min-width: 1440px) {
.navList {
  gap: 40px;
}
}

.userWrapper {
margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .userWrapper {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .userWrapper{
 display: flex;
 align-items: center;
 gap: 8px;
  }
} 

.userLetter {
  width: 35px;
height: 35px;
padding: 10px 15px;
border-radius: 100%;
border: 1px solid rgba(249, 249, 249, 0.2);
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
font-size: 16px;
line-height: 1.13;
}

.userName {
display: none;
}

@media only screen and (min-width: 768px) {
  .userLetter {
  width: 40px;
height: 40px;
  }
} 

@media only screen and (min-width: 1440px) {
  .userName{
 display: flex;
 font-weight: 700;
font-size: 16px;
line-height: 1.13;
  }
} 

.logOut {
  display: none;
}

@media only screen and (min-width: 768px) {
  .logOut {
  display: flex;
  margin-left: 16px;
  padding: 12px 28px;
  font-weight: 700;
font-size: 16px;
line-height: 1.13;
border: 1px solid rgba(249, 249, 249, 0.2);
border-radius: 30px;
}
} 

.burgerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-white);
  transform: scaleX(-1);
  padding: 0;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
.burgerButton {
 display: none;
  }
}