.formContainer {
  display: flex;
  flex-direction: column;
 flex-grow: 1;
}

.errorWrapper {
  margin-bottom: 8px;
}

.errorWrapper:not(:has(~ .errorWrapper)) {
  margin-bottom: 0; 
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-gray-dark);
  border-radius: 12px;
  padding: 13px 15px 13px 13px;
  transition: border-color var(--main-transition), background-color var(--main-transition);
  border: 1px solid transparent;
}

@media only screen and (min-width: 768px) {
  .errorWrapper {
  margin-bottom: 14px;
}

.errorWrapper:not(:has(~ .errorWrapper)) {
  margin-bottom: 0; 
}

  .inputWrapper {
  padding: 15px 17px 15px 13px;
}
}

.inputWrapper:focus-within,
.inputWrapper:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.inputWrapper.inputWrapperError,
.inputWrapper.inputWrapperError:focus-within,
.inputWrapper.inputWrapperError:hover {
  border-color: var(--color-red);
  margin-bottom: 4px;
}

.inputWrapper.inputWrapperSuccess,
.inputWrapper.inputWrapperSuccess:focus-within,
.inputWrapper.inputWrapperSuccess:hover {
  border-color: var(--color-green);
  margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .inputWrapper.inputWrapperError,
.inputWrapper.inputWrapperError:focus-within,
.inputWrapper.inputWrapperError:hover, 
.inputWrapper.inputWrapperSuccess,
.inputWrapper.inputWrapperSuccess:focus-within,
.inputWrapper.inputWrapperSuccess:hover  {
  margin-bottom: 8px;
}
}

.label {
font-size: 12px;
line-height: 1.33;
  color: var(--color-gray);
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .label {
font-size: 14px;
line-height: 1.29;
}
}

.input {
  flex: 1;
  background: transparent;
  border: none;
 font-size: 12px;
 line-height: 1.33;
 padding: 0;
  outline: none;
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .input {
 font-size: 14px;
line-height: 1.29;
}
}

.input::placeholder {
  color: var(--color-white);
  opacity: 1;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #262626 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.iconButton {
  position: relative;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 18px;
  color: var(--color-white);
  transition: opacity var(--main-transition);
}

.iconButton:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
.iconEye {
  position: absolute;
  width: 20px;
  height: 20px;
}
} 

.errorText {
  display: flex;
  color: var(--color-red);
  font-size: 10px;
  line-height: 1.2;
}

.successText {
   display: flex;
  color: var(--color-green);
  font-size: 10px;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .errorText, .successText {
  font-size: 12px;
line-height: 1.17;
}
}

.errorIcon {
  color: var(--color-red);
  margin-left: 8px; 
}

.successIcon {
  color: var(--color-green);
  margin-left: 8px;
}

@media only screen and (min-width: 768px) {
  .successIcon, .errorIcon {
  width: 20px;
  height: 20px;
}
}

.buttonsWrapper {
  display: flex;
  gap: 14px;
  align-items: center;
margin-top: auto;
}

@media only screen and (min-width: 768px) {
  .buttonsWrapper {
  gap: 20px;
}
}

.submitBtn {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 131px;
  border-radius: 30px;
  background-color: var(--color-white);
  color: var( --color-black-light);
  font-weight: 700;
font-size: 14px;
line-height: 1.29;
  border: 1px solid var(--color-white);
  transition: background-color var(--main-transition), border-color var(--main-transition);
}

@media only screen and (min-width: 768px) {
  .submitBtn {
    width: auto;
  padding: 15px 53px;
  font-size: 20px;
line-height: 1;
}
} 

.submitBtn:hover,
.submitBtn:focus,
.submitBtn:active {
  background-color: transparent;
  color: var(--color-white);
  border-color: rgba(249, 249, 249, 0.2);

}

.registerLink {
  font-size: 12px;
line-height: 1.17;
text-decoration: underline;
text-decoration-skip-ink: none;
text-align: center;
color: var(--color-gray);
transition: color var(--main-transition);
}

@media only screen and (min-width: 768px) {
  .registerLink {
  font-size: 14px;
line-height: 1.29;
}
} 

.registerLink:hover,
.registerLink:focus,
.registerLink:active {
  color: var(--color-white);
}