.noProgressBlock {
   padding-bottom: 20px; 
}

.noProgressTitle {
font-size: 18px;
line-height: 1;
margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
    .noProgressBlock {
   padding-bottom: 52px; 
}

 .noProgressTitle {
font-size: 20px;
}
}


@media only screen and (min-width: 1440px) {
  .noProgressBlock {
   padding-bottom: 183px; 
}
}

.text {
    color: var(--color-gray);
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
 .text {
   max-width: 305px;
    margin-bottom: 50px;
}
}

@media only screen and (min-width: 1440px) {
 .text {
   max-width: 313px;
    margin-bottom: 60px;
}
}

.starImg {
    font-size: 32px;
line-height: 1;
display: flex;
padding: 24px;
align-items:center;
justify-content: center;
border-radius: 100%;
background-color: var(--color-gray-dark);
width: 80px;
margin: 0 auto;
}

@media only screen and (min-width: 768px) {
.starImg {
   font-size: 50px;
line-height: 1.4;
padding: 15px 25px;
width: 100px;
}
}


.headerRow {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
.headerRow {
  margin-bottom: 16px;
}
}

.titleProgress {
  font-size: 18px;
line-height: 1;
}

@media only screen and (min-width: 768px) {
 .titleProgress {
font-size: 20px;
}
}

.tabsIcons {
  display: flex;
  gap: 8px;
}

.iconBtn {
  display: flex;
  background-color: transparent;
color: var(--color-gray);
padding: 0;
}

.active {
  color: var(--color-white);
}

.diaryContainer {
  padding: 16px;
  background-color: var(--color-gray-dark);
}

.diaryList {
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
}

.diaryList::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7px;
  width: 2px;
  background-color: var(--color-white);
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
 .diaryList::before {
left: 9px;
}
}