.screenBlock {
  padding: 20px 40px 0 40px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--color-black-light);
  width: 100%;
}

.deskImage {
  display: none;
}

@media only screen and (min-width: 768px) {
  .screenBlock {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .screenBlock {
    display: flex;
    padding: 80px 98px 0 98px;
   width: calc(50%);
  }

  .telImage {
    display: none;
  }

  .deskImage {
    display: block;
  }
}

.telImage,
.deskImage {
 width: auto; 
  height: auto;
  object-fit: contain;
}