.book {
  width: 137px; 
  cursor: pointer;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
.infoContainer {
 gap: 20px;
}
}

.bookInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.bookImageWrapper,
.modalImageWrapper {
  background-color: var(--color-gray-dark);
  background-image: url('/images/default.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  display: block;
  margin-bottom: 8px;
}

.bookImageWrapper {
  width: 137px;
  height: 208px;
}

.modalImageWrapper {
  width: 140px;
  height: 213px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .modalImageWrapper {
  width: 153px;
   height: 233px;
   margin-bottom: 16px;
}
}

.bookImage,
.modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bookTitle {
    margin-bottom: 2px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookAuthor {
font-weight: 500;
font-size: 10px;
line-height: 1.2;
color: var(--color-gray);
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalTitle {
  width: 242px; 
  font-size: 18px;
  margin-bottom: 2px;
}

@media only screen and (min-width: 768px) {
 .modalTitle {
 font-size: 20px;
line-height: 1;
width: 350px; 
}
}

.modalAuthor {
  color: var(--color-gray);
  font-weight: 500;
font-size: 12px;
line-height: 1.17;
margin-bottom: 4px;
text-align: center;
}

@media only screen and (min-width: 768px) {
.modalAuthor {
font-size: 14px;
line-height: 1.29;
}
}

.modalPages {
  font-size: 10px;
line-height: 1.2;
margin-bottom: 20px;
text-align: center;
}

@media only screen and (min-width: 768px) {
.modalPages {
margin-bottom: 32px;
}
}

  .addButton {
  display: flex;
  padding: 12px 24px;
  font-weight: 700;
background-color: transparent;
border: 1px solid rgba(249, 249, 249, 0.2);
border-radius: 30px;
color: var(--color-white);
transition: background-color var(--main-transition), color  var(--main-transition), border-color var(--main-transition) ;
}

@media only screen and (min-width: 768px) {
.addButton {
 padding: 14px 28px;
 font-size: 16px;
line-height: 1.13;
}
}

.addButton:hover,
.addButton:focus,
.addButton:active {
background-color: var(--color-white);
border-color: var(--color-white);
color: var(--color-black-light);
}

.deleteBtn {
  border-radius: 100%;
background-color: rgba(232, 80, 80, 0.1);
border: 1px solid rgba(232, 80, 80, 0.2);
display: flex;
align-items: center;
justify-content: center;
width: 28px;
height: 28px;
color: var(--color-red);
}