.wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  border-radius: 30px;
background-color: var(--color-black-light);
flex: 1;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding-bottom: 28px;
  }
}

.headerWrapper {
display: flex;
justify-content: space-between;
margin-bottom: 14px;
}

.title {
  font-size: 20px;
  line-height: 1;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
  }
}

.select {
  display: flex;
  gap: 8px;
}

.booksList {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

@media screen and (min-width: 768px) {
 .booksList {
  gap: 25px;
}
}

@media screen and (min-width: 1440px) {
 .booksList {
  column-gap: 20px;
  row-gap: 27px;
}
}

.noBlock {
 padding: 49px 0 60px 0;
 display: flex;
 flex-direction: column;
 align-items: center;
}

@media screen and (min-width: 768px) {
.noBlock {
 padding: 72px 0 120px 0;
}
}

@media screen and (min-width: 1440px) {
.noBlock {
 padding-top: 133px;
}
}

.booksImg {
  font-size: 50px;
line-height: 1;
width: 100px;
display: flex;
align-items: center;
justify-content: center;
padding: 25px;
margin-bottom: 10px;
border-radius: 100%;
background-color: var(--color-gray-dark);
}

@media screen and (min-width: 768px) {
.booksImg {
  font-size: 70px;
width: 130px;
padding: 30px;
margin-bottom: 20px;
}
}

.noText {
  max-width: 197px;
  text-align: center;
}

@media screen and (min-width: 768px) {
.noText {
  max-width: 274px;
  text-align: center;
}
}

.accent {
  color:var(--color-gray);
}

.filterWrapper {
  position: relative;
  width: 120px;
}

@media screen and (min-width: 768px) {
.filterWrapper {
  width: 153px;
}
}

.selectToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 11px 13px;
  background-color: transparent;
  border: 1px solid #3e3e3e;
  border-radius: 12px;
  font-size: 12px;
line-height: 1.33;
color: var(--color-white);
  transition: border-color var(--main-transition);
}

.selectToggle:hover,
.selectToggle.open {
  border-color: var(--color-white);
}

@media screen and (min-width: 768px) {
.selectToggle {
  padding: 13px;
font-size: 14px;
line-height: 1.29;
}
}

.dropdownList {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 10;
 padding: 14px;
}

@media screen and (min-width: 768px) {
.dropdownList {
  top: calc(100% + 8px);
}
}

.dropdownItem {
  font-size: 12px;
line-height: 1.33;
  color: var(--color-gray);
  cursor: pointer;
  transition: color var(--main-transition);
}

.dropdownItem:hover,
.dropdownItem.active {
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
.dropdownItem {
  font-size: 14px;
line-height: 1.29;
}
}